APP_NAME="App Laravel Client"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8001

SESSION_DRIVER=file
SESSION_LIFETIME=120

SSO_BASE_URL=http://localhost:8000
SSO_JWT_SECRET=please-change-me-shared-with-clients
SSO_CALLBACK=http://localhost:8001/sso/callback
